.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #282828; }
  .navbar-dropdown .navbar-logo {
    margin-right: 0.8rem;
    transition: margin 0.3s ease-in-out;
    vertical-align: middle; }
    .navbar-dropdown .navbar-logo img {
      height: 3.125rem;
      transition: all 0.3s ease-in-out; }
    .navbar-dropdown .navbar-logo.mbr-iconfont {
      font-size: 3.125rem;
      line-height: 3.125rem; }
  .navbar-dropdown .navbar-caption {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    line-height: 3.125rem !important; }
    .navbar-dropdown .navbar-caption, .navbar-dropdown .navbar-caption:hover {
      color: inherit;
      text-decoration: none; }
  .navbar-dropdown .mbr-iconfont + .navbar-caption {
    vertical-align: -1px; }
  .navbar-dropdown.navbar-fixed-top {
    position: fixed; }
  .navbar-dropdown .navbar-brand span {
    vertical-align: -4px; }
  .navbar-dropdown.bg-color.transparent {
    background: none; }
  .navbar-dropdown.navbar-short .navbar-brand {
    padding: 0.625rem 0; }
    .navbar-dropdown.navbar-short .navbar-brand span {
      vertical-align: -1px; }
  .navbar-dropdown.navbar-short .navbar-caption {
    line-height: 2.375rem !important;
    vertical-align: -2px; }
  .navbar-dropdown.navbar-short .navbar-logo {
    margin-right: 0.5rem; }
    .navbar-dropdown.navbar-short .navbar-logo img {
      height: 2.375rem; }
    .navbar-dropdown.navbar-short .navbar-logo.mbr-iconfont {
      font-size: 2.375rem;
      line-height: 2.375rem; }
  .navbar-dropdown.navbar-short .mbr-table-cell {
    height: 3.625rem; }
  .navbar-dropdown .navbar-close {
    left: 0.6875rem;
    position: fixed;
    top: 0.75rem;
    z-index: 1000; }
  .navbar-dropdown .hamburger-icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    -webkit-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    -moz-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828; }

.dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  border-bottom: 0.35em solid transparent;
  border-left: 0.35em solid;
  border-right: 0;
  border-top: 0.35em solid transparent;
  margin-left: 0.3rem; }

.dropdown-menu .dropdown-item:focus {
  outline: 0; }

.nav-dropdown {
  font-size: 0.75rem;
  font-weight: 500;
  height: auto !important; }
  .nav-dropdown .nav-btn {
    padding-left: 1rem; }
  .nav-dropdown .link {
    margin: .667em 1.667em;
    font-weight: 500;
    padding: 0;
    transition: color .2s ease-in-out; }
    .nav-dropdown .link.dropdown-toggle {
      margin-right: 2.583em; }
      .nav-dropdown .link.dropdown-toggle::after {
        margin-left: .25rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0; }
      .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
        margin: 0;
        padding: 0.667em 3.263em  0.667em 1.667em; }
  .nav-dropdown .link::after,
  .nav-dropdown .dropdown-item::after {
    color: inherit; }
  .nav-dropdown .btn {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .nav-dropdown .dropdown-menu {
    border-radius: 0;
    border: 0;
    left: 0;
    margin: 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: relative; }
  .nav-dropdown .dropdown-submenu {
    margin-left: 0.125rem;
    top: 0; }
  .nav-dropdown .dropdown-item {
    font-weight: 500;
    line-height: 2;
    padding: 0.3846em 4.615em 0.3846em 1.5385em;
    position: relative;
    transition: color .2s ease-in-out, background-color .2s ease-in-out; }
    .nav-dropdown .dropdown-item::after {
      margin-top: -0.3077em;
      position: absolute;
      right: 1.1538em;
      top: 50%; }
    .nav-dropdown .dropdown-item:focus, .nav-dropdown .dropdown-item:hover {
      background: none; }

@media (max-width: 767px) {
  .nav-dropdown.navbar-toggleable-sm {
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    width: 18.75rem;
    z-index: 999; } }
.nav-dropdown.navbar-toggleable-xl {
  bottom: 0;
  display: none;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 18.75rem;
  z-index: 999; }

.nav-dropdown-sm {
  display: block !important;
  overflow-x: hidden;
  overflow: auto;
  padding-top: 3.875rem; }
  .nav-dropdown-sm::after {
    content: "";
    display: block;
    height: 3rem;
    width: 100%; }
  .nav-dropdown-sm.collapse.in ~ .navbar-close {
    display: block !important; }
  .nav-dropdown-sm.collapsing, .nav-dropdown-sm.collapse.in {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    background: #282828; }
  .nav-dropdown-sm.collapsing[aria-expanded="false"] {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .nav-dropdown-sm .nav-item {
    display: block;
    margin-left: 0 !important;
    padding-left: 0; }
  .nav-dropdown-sm .link,
  .nav-dropdown-sm .dropdown-item {
    border-top: 1px dotted rgba(255, 255, 255, 0.1);
    font-size: 0.8125rem;
    line-height: 1.6;
    margin: 0 !important;
    padding: 0.875rem 2.4rem 0.875rem 1.5625rem !important;
    position: relative;
    white-space: normal; }
    .nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover,
    .nav-dropdown-sm .dropdown-item:focus,
    .nav-dropdown-sm .dropdown-item:hover {
      background: rgba(0, 0, 0, 0.2) !important;
      color: #c0a375; }
  .nav-dropdown-sm .nav-btn {
    position: relative;
    padding: 1.5625rem 1.5625rem 0 1.5625rem; }
    .nav-dropdown-sm .nav-btn::before {
      border-top: 1px dotted rgba(255, 255, 255, 0.1);
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .nav-dropdown-sm .nav-btn + .nav-btn {
      padding-top: 0.625rem; }
      .nav-dropdown-sm .nav-btn + .nav-btn::before {
        display: none; }
  .nav-dropdown-sm .btn {
    padding: 0.625rem 0; }
  .nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0; }
  .nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"][aria-expanded="true"]::after {
    border-top: 0;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0.35em solid; }
  .nav-dropdown-sm .dropdown-menu {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    float: none;
    border-radius: 0;
    background: none; }
  .nav-dropdown-sm .dropdown-submenu {
    left: 100%;
    margin-left: 0.125rem;
    margin-top: -1.25rem;
    top: 0; }

.navbar-toggleable-sm .nav-dropdown .dropdown-menu {
  position: absolute; }

.navbar-toggleable-sm .nav-dropdown .dropdown-submenu {
  left: 100%;
  margin-left: 0.125rem;
  margin-top: -1.25rem;
  top: 0; }

.navbar-toggleable-sm.opened .nav-dropdown .dropdown-menu {
  position: relative; }

.navbar-toggleable-sm.opened .nav-dropdown .dropdown-submenu {
  left: 0;
  margin-left: 00rem;
  margin-top: 0rem;
  top: 0; }

.is-builder .nav-dropdown.collapsing {
  transition: none !important; }


.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}

/* landing page */
:root{ --background: #FEEEED; --dominant-color: #F15946; --primary-color: #F9C22E; --secondary-color: #53B3CB; --success-color: #26CE80; --danger-color: #D02435; --warning-color: #F4B700; --info-color: #0DC3E7; --background-text: #000000; --dominant-text: #FFFFFF; --primary-text: #000000; --secondary-text: #000000; --success-text: #000000; --danger-text: #FFFFFF; --warning-text: #000000; --info-text: #000000;}

.cid-tXZkklhrki  {
    z-index: 1000;
    width: 100%;
    position: relative;
  }
  .cid-tXZkklhrki  .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  @media (max-width: 767px) {
    .cid-tXZkklhrki  .navbar-toggler {
      transform: scale(0.8);
    }
  }
  .cid-tXZkklhrki  .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-tXZkklhrki  .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
  }
  .cid-tXZkklhrki  .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-tXZkklhrki  .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-tXZkklhrki  .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
  }
  .cid-tXZkklhrki  .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
  }
  .cid-tXZkklhrki  .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
  }
  .cid-tXZkklhrki  .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tXZkklhrki  .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
  }
  @media (min-width: 992px) {
    .cid-tXZkklhrki  .navbar-nav .open .nav-link::before {
      content: "";
      width: 100%;
      height: 20px;
      top: 100%;
      background: transparent;
      position: absolute;
    }
  }
  .cid-tXZkklhrki  .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
  }
  .cid-tXZkklhrki  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  @media (min-width: 992px) {
    .cid-tXZkklhrki  .navbar-nav {
      padding-left: 1.5rem;
    }
  }
  .cid-tXZkklhrki  .nav-link {
    width: fit-content;
    position: relative;
  }
  .cid-tXZkklhrki  .navbar-logo {
    margin: 0 !important;
  }
  @media (max-width: 767px) {
    .cid-tXZkklhrki  .navbar-logo {
      padding-left: 0;
    }
  }
  .cid-tXZkklhrki  .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-tXZkklhrki  .nav-dropdown {
      padding-bottom: 0.5rem;
    }
  }
  .cid-tXZkklhrki  .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
  }
  .cid-tXZkklhrki  .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  }
  @media (max-width: 992px) {
    .cid-tXZkklhrki  .container {
      padding-right: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-tXZkklhrki  .container {
      width: 95%;
      height: 56px !important;
      padding-right: 1rem;
      margin-top: 0rem;
    }
  }
  .cid-tXZkklhrki  .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  .cid-tXZkklhrki  .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
  }
  .cid-tXZkklhrki  .nav-item:focus,
  .cid-tXZkklhrki  .nav-link:focus {
    outline: none;
  }
  .cid-tXZkklhrki  .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-tXZkklhrki  .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-tXZkklhrki  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-tXZkklhrki  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-tXZkklhrki  .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-tXZkklhrki  .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-tXZkklhrki  .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .cid-tXZkklhrki  .navbar.opened {
    transition: all 0.3s;
  }
  .cid-tXZkklhrki  .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-tXZkklhrki  .navbar .navbar-logo img {
    min-width: 6rem;
    object-fit: cover;
  }
  .cid-tXZkklhrki  .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
  }
  .cid-tXZkklhrki  .navbar.collapsed {
    justify-content: center;
  }
  .cid-tXZkklhrki  .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-tXZkklhrki  .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  @media (min-width: 992px) {
    .cid-tXZkklhrki  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
      max-height: calc(98.5vh - 3rem);
    }
  }
  .cid-tXZkklhrki  .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tXZkklhrki  .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tXZkklhrki  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-tXZkklhrki  .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-tXZkklhrki  .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-tXZkklhrki  .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-tXZkklhrki  .navbar {
      min-height: 72px;
    }
    .cid-tXZkklhrki  .navbar .navbar-logo img {
      height: 2.5rem !important;
      min-width: 2.5rem !important;
    }
  }
  @media (max-width: 991px) {
    .cid-tXZkklhrki  .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-tXZkklhrki  .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-tXZkklhrki  .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-tXZkklhrki  .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-tXZkklhrki  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-tXZkklhrki  .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-tXZkklhrki  .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 10px;
    }
    .cid-tXZkklhrki  .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-tXZkklhrki  .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .cid-tXZkklhrki  .navbar.navbar-short .navbar-logo img {
    height: 2rem;
  }
  .cid-tXZkklhrki  .dropdown-item.active,
  .cid-tXZkklhrki  .dropdown-item:active {
    background-color: transparent;
  }
  .cid-tXZkklhrki  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-tXZkklhrki  .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-tXZkklhrki  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-tXZkklhrki  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }
  .cid-tXZkklhrki  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
  }
  .cid-tXZkklhrki  .navbar .dropdown.open > .dropdown-menu {
    display: flex;
  }
  .cid-tXZkklhrki  ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-tXZkklhrki  .navbar-buttons {
    text-align: center;
    min-width: 140px;
  }
  @media (max-width: 992px) {
    .cid-tXZkklhrki  .navbar-buttons {
      text-align: left;
    }
  }
  .cid-tXZkklhrki  button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tXZkklhrki  button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-tXZkklhrki  button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-tXZkklhrki  button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tXZkklhrki  button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tXZkklhrki  button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-tXZkklhrki  nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tXZkklhrki  nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-tXZkklhrki  nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-tXZkklhrki  nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tXZkklhrki  .navbar-dropdown {
    padding: 0 1rem;
  }
  .cid-tXZkklhrki  a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-tXZkklhrki  .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media (max-width: 992px) {
    .cid-tXZkklhrki  .icons-menu {
      justify-content: flex-start;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-tXZkklhrki  .navbar {
      height: 70px;
    }
    .cid-tXZkklhrki  .navbar.opened {
      height: auto;
    }
    .cid-tXZkklhrki  .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
  }
  .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown-item {
    line-height: 1 !important;
  }
  .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
  }
  .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
  }
  .cid-tXZkklhrki  .mbr-section-btn {
    margin: -0.6rem -0.6rem;
  }
  .cid-tXZkklhrki  .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
  }
  @media (max-width: 991px) {
    .cid-tXZkklhrki  .navbar-brand {
      margin-right: auto;
    }
    .cid-tXZkklhrki  .navbar-collapse {
      z-index: -1 !important;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-radius: 1.5rem;
      background: #ffffff;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.8) !important;
      background: rgba(255, 255, 255, 0.8) !important;
      backdrop-filter: blur(8px);
    }
    .cid-tXZkklhrki  .navbar-nav .nav-item .nav-link::after {
      margin-left: 10px;
    }
    .cid-tXZkklhrki  .navbar-nav .dropdown-item:hover {
      background-color: rgba(27, 31, 10, 0.06);
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu {
      max-width: 100% !important;
      transform: translateX(0);
      top: 10px;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown-item {
      padding: 8px !important;
      line-height: 1 !important;
      margin-bottom: 4px !important;
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
      align-items: center;
      display: flex;
      height: max-content !important;
      min-height: max-content !important;
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
      display: inline-block;
      position: static;
      margin-left: 0.5rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      transition: 0.3s all;
      transform: rotate(0deg);
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
      transform: rotate(180deg);
    }
    .cid-tXZkklhrki  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
      position: static;
      width: 100%;
      max-width: 100% !important;
      transform: translateX(0) !important;
      top: 0;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-tXZkklhrki  .navbar .dropdown.open > .dropdown-menu {
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media (max-width: 575px) {
    .cid-tXZkklhrki  .navbar-collapse {
      padding: 1rem;
    }
  }

  .cid-tXZkklhKV0 {
    display: flex;
  }
  @media (min-width: 768px) {
    .cid-tXZkklhKV0 {
      align-items: flex-end;
    }
    .cid-tXZkklhKV0 .row {
      justify-content: flex-start;
    }
    .cid-tXZkklhKV0 .content-wrap {
      padding: 1rem 3rem;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .cid-tXZkklhKV0 .content-wrap {
      min-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .cid-tXZkklhKV0 {
      -webkit-align-items: center;
      align-items: flex-end;
    }
    .cid-tXZkklhKV0 .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }
    .cid-tXZkklhKV0 .content-wrap {
      width: 100%;
    }
  }
  .cid-tXZkklhKV0 .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-tXZkklhKV0 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }
  .cid-tXZkklhKV0 .mbr-section-title,
  .cid-tXZkklhKV0 .mbr-section-subtitle {
    text-align: left;
    color: var(--dominant-color, #ffc091);
  }
  .cid-tXZkklhKV0 .mbr-text,
  .cid-tXZkklhKV0 .mbr-section-btn {
    text-align: left;
  }

  .cid-tXZkklhLSU {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-tXZkklhLSU .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-tXZkklhLSU .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (max-width: 767px) {
    .cid-tXZkklhLSU .card-content-text {
      padding: 1.5rem 1.5rem 0 1.5rem;
    }
  }
  @media (min-width: 768px) {
    .cid-tXZkklhLSU .card-content-text {
      padding: 2.25rem 2.25rem 0 2.25rem;
    }
  }
  @media (min-width: 992px) {
    .cid-tXZkklhLSU .card-content-text {
      padding: 4rem 4rem 1rem 4rem;
    }
  }
  .cid-tXZkklhLSU .card-wrapper {
    background: #ffffff;
  }
  .cid-tXZkklhLSU .mbr-text,
  .cid-tXZkklhLSU .mbr-section-btn {
    color: #000000;
    text-align: left;
  }
  .cid-tXZkklhLSU .card-title,
  .cid-tXZkklhLSU .card-box {
    text-align: left;
    color: #000000;
  }